In [1]:
from Funciones_y_clases import data_aws
#import ssl
#ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
data_aws()

,Date,Users,year,month,day,day of week,weekend,season,festivo
0,2020-01-01,13,2020,1,1,2,0,winter,1
1,2020-01-02,17,2020,1,2,3,0,winter,0
2,2020-01-03,13,2020,1,3,4,0,winter,0
3,2020-01-04,4,2020,1,4,5,1,winter,0
4,2020-01-05,10,2020,1,5,6,1,winter,0
...,...,...,...,...,...,...,...,...,...
846,2022-04-26,63,2022,4,26,1,0,spring,0
847,2022-04-27,64,2022,4,27,2,0,spring,0
848,2022-04-28,46,2022,4,28,3,0,spring,0
849,2022-04-29,29,2022,4,29,4,0,spring,0
850,2022-04-30,21,2022,4,30,5,1,spring,0