## Importamos librerías:

In [108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from datetime import date, datetime

## Cargamos el dataset:

In [109]:
df1 = pd.read_csv("users_web.csv", encoding = "latin1")

## Convertimos la columna "Date" a formato fecha:

In [110]:
df1['Date'] = pd.to_datetime(df1['Date'], format="%d/%m/%Y")

## Creamos columnas de: Día, mes, año y día de la semana
El día de la semana empieza por 0 ( Lunes = 0, martes = 1, miércoles = 2...)

In [111]:
df1['year'] = pd.DatetimeIndex(df1['Date']).year 
  
df1['month'] = pd.DatetimeIndex(df1['Date']).month

df1['day'] = pd.DatetimeIndex(df1['Date']).day

df1['day of week'] = df1['Date'].dt.dayofweek

df1["weekend"] = df1["day of week"] > 4

## Función para sacar la estación del año:

In [112]:
def season_of_date(date):
    
    year = str(date.year)
    
    seasons = {'spring': pd.date_range(start='21/03/'+year, end='20/06/'+year),
               'summer': pd.date_range(start='21/06/'+year, end='22/09/'+year),
               'autumn': pd.date_range(start='23/09/'+year, end='20/12/'+year)}
    
    if date in seasons['spring']:
        return 'spring'
    
    if date in seasons['summer']:
        return 'summer'
    
    if date in seasons['autumn']:
        return 'autumn'
    
    else:
        return 'winter'

## Añadimos la columnas de estación del año:

In [113]:
df1['season'] = df1["Date"].map(season_of_date)

## Reemplazamos los True por 1 y los False por 0 en la columna "weekend":

In [114]:
df1["weekend"] = df1["weekend"].replace(True,1)
df1["weekend"] = df1["weekend"].replace(False,0)

## Dataset final:

In [115]:
df1

          Date  Users  year  month  day  day of week  weekend  season
0   2020-01-01     13  2020      1    1            2        0  winter
1   2020-01-02     17  2020      1    2            3        0  winter
2   2020-01-03     13  2020      1    3            4        0  winter
3   2020-01-04      4  2020      1    4            5        1  winter
4   2020-01-05     10  2020      1    5            6        1  winter
..         ...    ...   ...    ...  ...          ...      ...     ...
846 2022-04-26     63  2022      4   26            1        0  spring
847 2022-04-27     64  2022      4   27            2        0  spring
848 2022-04-28     46  2022      4   28            3        0  spring
849 2022-04-29     29  2022      4   29            4        0  spring
850 2022-04-30     21  2022      4   30            5        1  spring

[851 rows x 8 columns]